<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forum</title>
</head>

<body>
    <main>
        <div>
            <% if (allQuestions.length > 0) { %>
                <% for (let q of allQuestions) { %>
                    <h1>Question:
                        <%= q.question %>
                    </h1>
                    <h3>Description:
                        <%= q.description %>
                    </h3>
                    <form action="/delete-question/<%= q._id %>" method="post">
                        <button type="submit">Delete</button>
                    </form>
                    <a href="/edit-question/<%= q._id %>">Edit</a>
                    <% } } %>
        </div>
    </main>
</body>

</html>