<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forum</title>
</head>

<body>
    <form action="/forum" method="POST">
        <textarea name="question" id="question" cols="30" rows="5" placeholder="Write Your Question Here"></textarea>
        <textarea name="description" id="description" cols="30" rows="5" placeholder="Description"></textarea>
        <button type="submit">Post</button>
    </form>
</body>

</html>