* {
    margin: 0px;
    padding: 0px;
    border-radius: 50px;
}

.img-sm {
    width: 46px;
    height: 46px;
    margin: 10px;
}

.panel {
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.075);
    border-radius: 50px;
    margin: 15px;
}

.para {
    margin: 10px;
    padding: 5px;
}

.panel-body {
    padding: 25px 20px;
    border-radius: 50px;
}

.media-block .media-left {
    display: block;
    float: left;
    margin: 10px;
    border-radius: 50px;
}

.media-block .media-right {
    float: right;
}

.media-block .media-body {
    display: block;
    overflow: hidden;
    width: auto;
}

.middle .media-left,
.middle .media-right,
.middle .media-body {
    vertical-align: middle;
}

.thumbnail {
    border-radius: 0;
    border-color: #e9e9e9;
}

.mar-btm {
    margin: 15px;
}

.btn-icon {
    padding-left: 9px;
    padding-right: 9px;
    border-radius: 50px;
}

.mar-top {
    margin-top: 15px;
}

.headclass {
    margin: 10px;
    padding: 10px;
}

.headclass:hover {
    cursor: pointer;
}

ul>li {
    list-style: none;
}
